@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card{
    width: 300px;
    height: 420px;
    position: relative;
    background-color: #f0f0f0;
}
.product-img{
    width: 300px;
    height: 230px;
    background-image: url("images/product.jpg");
    background-repeat: no-repeat;
    background-position: 0 -75px;
    background-size: cover;
}
.product-detail{
    width: 300px;
    height: 190px;
    background-color: #21222d;
    border-radius: 0 40% 0 0;
    padding: 0.8rem;
    font-family: "Poppims", sans-serif;
    color: #fff;
}
.ratong{
    font-size: 0.7rem;
    color: #fdcc0d;
    user-select: none;
}
